@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --xs: 475;

  --color-primary: #ee2b69;
  --color-primary-100: #ffe8f0;

  --color-secondary: #fbe843;

  --color-black: #000000;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;

  ---color-white: #ffffff;
  ---color-white-100: #f7f7f7;

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

@utility heading {
  @apply uppercase bg-black px-6 py-3 font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
}

@utility sub-heading {
  @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
}

@utility pink_container {
  @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
}

@utility section_container {
  @apply px-6 py-10 max-w-7xl mx-auto;
}

@utility tag {
  @apply bg-secondary px-6 py-3 font-bold rounded-sm uppercase relative tag-tri;
}

@utility category-tag {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
}

@utility tag-tri {
  @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
}
