@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --xs: 475;

  --color-primary: #ee2b69;
  --color-primary-100: #ffe8f0;

  --color-secondary: #fbe843;

  --color-black: #000000;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;

  ---color-white: #ffffff;
  ---color-white-100: #f7f7f7;

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  ackground-repeat: repeat-x;
}
